CustomerPortal.UnitTests/bin
CustomerPortal.UnitTests/obj
CustomerPortalApi/bin
CustomerPortalApi/obj
CustomerPortalApi/.vs/CustomerPortalApi/v17
CustomerPortalApi/.vs/CustomerPortalApi/FileContentIndex
CustomerPortalApi/.vs/CustomerPortalApi/config/
